<%= render 'shared/navbar' %>
<%= yield %>

<div class="container text-center">
  <h2>Welcome to ScentHaven, Canada's Online Warehouse Sale for Brand Name Fragrances</h2>
  <p>Our goal is simple: To provide customers with warehouse sale pricing at the comfort of their homes. Although we've been wholesaling to Canadian boutiques for over 2 decades, our online division was born in 2013. Since then, we've come to be known as one of the most dynamic and customer-driven companies in Canada. Our professionalism is well known and appreciated, which has enabled us to continue to grow and become a point of reference throughout Canada and the USA.</p>
</div>
