<h1>Products</h1>
<%= render 'shared/navbar' %>
<%= yield %>
<ol class="custom-list">
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product %>
    </li>
  <% end %>
</ol>



